body {
    background: #202020 url(img/Background_World.png) no-repeat center center fixed;
    justify-content: center;
}

.header {
    opacity: 0.8;
    width: auto;
    margin: 1em;
    padding: 0 1em;
    border: #181818 2px solid;
    background: #101010;
    top: 0;
}

.header > * {
    margin: 0.5em;
}

.header a {
    margin: 1em;
    padding: 10px;
    color: #606060;
    border: 1px solid;
    display: inline-block;
    background: #202020;
}

.header a:hover {
    background: #304040;
}

.tooltip {
    border: 0.5em solid transparent;
    padding: 0.25em;
    border-image: url(img/itemborder.png) 6 fill;
    width: 18em;
    margin: auto;
}

.tooltip * {
    line-height: 1.3em;
}

.tooltip h1 {
    font-size: 1.1em;
    margin: 0 0 0.25em;
    display: inline-block;
    font-weight: bold;
}

.tooltip h2 {
    font-size: 1em;
    margin: 0;
    display: inline-block;
    color: #ffd100;
    font-weight: normal;
}

b {
    height: 2em;
    outline-bottom: 2em;
}

.tooltip span {
    color: white;
    width: 100%;
    display: inline-block;
}

img {
    float: left;
}
